/* header start */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;

}

header {
    background: #ffffff;
    color: rgb(0, 156, 222);
    min-height: 70px;

}

header a,
i {
    color: rgb(93, 93, 94);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header li {
    float: left;
    padding: 0 20px 0 20px;
    list-style: none;
    font-family: 'Schibsted Grotesk', sans-serif
}

header #branding {
    float: left;
    padding-left: 20px;
}

header #branding h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

header nav {
    float: right;
    margin-top: 10px;

}

header .highlight {
    color: rgb(0, 48, 135);
    font-weight: bold;
    font-family: 'Schibsted Grotesk', sans-serif;
}

header a:hover,
header i:hover {
    color: rgb(18, 22, 97);
    font-weight: bold;
    transition: .3s;
}

/* header over */
/* element container*/
.element-container {
    background-color: rgb(18, 22, 97);
    padding-top: 60px;
    padding-bottom: 72px;
    margin-top: 1rem;
    text-align: left;
    padding-left: 25rem;
}

#banner-text2 {
    font-family: 'Schibsted Grotesk', sans-serif
}

#tunisia-pay {
    color: rgb(126, 175, 208);
    font-family: 'Schibsted Grotesk', sans-serif
}

#under-banner-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#signinnext {
    text-decoration: none;
}

#signinnext:hover {
    text-decoration: none;
    color: white;
    transition: .2s;
}

#signup {
    background-color: rgb(255, 196, 58);
    color: rgb(18, 22, 97);
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}

#signup:hover {
    cursor: pointer;
    background-color: rgb(255, 196, 58);
    color: white;
    transition: .2s;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}

/* element2 container */
.element2-container {
    background-color: rgb(244, 241, 233);
    padding-top: 60px;
    padding-bottom: 72px;
    margin-top: 1rem;
    text-align: left;
    padding-left: 25rem;
}

#transfer-bill {
    width: 200px
}

#make-payments {
    color: rgb(235, 173, 29);
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-left: 300px;
    margin-top: -100px;
}

#payouts {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    margin-top: -10px;
}

#under-payouts-text {
    color: rgb(54, 54, 54);
    margin-left: 300px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

#get-started {
    color: rgb(73, 126, 235);
    margin-left: 300px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;

}

/* footer */
footer {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 88px;

}