body {
    background-color: rgb(245, 247, 250);
    margin: 0;

}

header {
    background: rgb(245, 247, 250);
    color: rgb(0, 156, 222);
    min-height: 70px;
    border-bottom: 3px rgb(138, 139, 140) solid;

}

header a,
i {
    color: rgb(93, 93, 94);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header li {
    float: left;
    padding: 0 20px 0 20px;
    list-style: none;
    font-family: 'Schibsted Grotesk', sans-serif
}

header #branding {
    float: left;
    padding-left: 20px;
}

header #branding h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

header nav {
    float: right;
    margin-top: 10px;

}

header .highlight {
    color: rgb(0, 48, 135);
    font-weight: bold;
    font-family: 'Schibsted Grotesk', sans-serif;
}

header a:hover,
header i:hover {
    color: rgb(18, 22, 97);
    font-weight: bold;
    transition: .3s;
}

.wallet {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid rgb(203, 203, 203);
    width: 25%;
    height: 720px;
    margin-left: 750px;
    box-shadow: 1px 1px 10px rgb(203, 203, 203);
}

#balance {
    font-family: 'Urbanist', sans-serif;
    color: #222222;
}

#topp {
    text-align: center;
}

#yourBalance {
    font-family: 'Urbanist', sans-serif;
    color: rgba(0, 112, 186, 0.704);
    padding-top: 20px;
}

#available {
    text-align: center;
    padding-top: 0px;
    font-family: 'Urbanist', sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(60, 74, 80)
}

button {
    color: #090909;
    font-size: large;
    border-radius: 70px;
    background: rgb(0, 112, 186);
    border: none;
    transition: .3s;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 500;
    height: 50px;
}


.buttons {
    padding-top: 10px;
}

#deposit {
    cursor: pointer;
    width: 300px;
}

#withdraw {
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
}

#transfer {
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
}

#deposit:hover {
    cursor: pointer;
    width: 300px;
    background-color: rgb(7, 143, 234);

}

#withdraw:hover {
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
    background-color: rgb(7, 143, 234);
}

#transfer:hover {
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
    background-color: rgb(7, 143, 234);
}

.input {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;

}

.input:focus {
    color: #7d7d7d;
    outline: none;

}

.inputs {
    text-align: center;
    padding-top: 20px;
}

#ps {
    margin-top: 15px;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

#n {
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

#user {
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

#balance {
    text-align: center;
    font-size: 50px;
}